html {
    font-family: Georgia, serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    overflow: hidden;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.25),
            rgba(255, 0, 0, 0.45)
    ),
        /* bottom, image */
    url('../assets/bgs/index.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    background-size: auto 100%;
    opacity: 0;
}

#text {
    text-align: center;
    font-size: 24pt;
    -webkit-text-stroke-fill: black;
    -webkit-text-stroke-width: 0.3pt;
    -webkit-text-stroke-color: white;
}

#name {
    font-family: Georgia, serif;
    text-align: center;
    font-size: 24pt;
    -webkit-text-stroke-fill: black;
    -webkit-text-stroke-width: 0.3pt;
    -webkit-text-stroke-color: white;
}

textarea {
    margin-top: 20px;
    width: 500px;
    height: 50px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.47);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-size: 1em;
    font-family: Georgia, serif;
    line-height: 1.4em;
    text-align: center;
    transition: background-color 0.2s ease 0s;
    padding-top: auto;
}


textarea:focus {
    background: none repeat scroll 0 0 rgba(0,0,0,0.4);
    outline-width: 0;
}